<div class="row">
  <div class="col-sm-6 col-sm-offset-3 text-center centered">
    <form action="/words" method="post">
      <div class="form-group">
        <input id="word" name="word" class="form-control" placeholder="Word">
      </div>
      <button class="btn btn-default">Add Word</button>
    </form>
  </div>
</div>

<a href="/">Back</a>
