<!--<h5>Add a new word</h5>-->

<div class="row padded-top comfy">
  <div class="col-sm-6 col-sm-offset-3 text-center">
    <form action="/words" method="post">
      <div class="form-group">
        <!--<label target="word" class="control-label">Word:</label>-->
        <input id="word" class="form-control" name="word" placeholder="Word">
      </div>
      <button class="btn btn-default">Add Word</button>
    </form>
  </div>
</div>

<a href="/">Back</a>
